@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@600&family=EB+Garamond:ital,wght@1,500&family=Great+Vibes&family=Grenze+Gotisch:wght@600&family=Itim&family=Lato:ital@1&family=Lobster+Two:ital@1&family=Monsieur+La+Doulaise&family=Pacifico&family=Poppins:wght@300&family=Satisfy&family=Sofia&family=Syne+Mono&family=Varela+Round&display=swap');

/*CSS rules to specify families

font-family: 'Courgette', cursive;   		stylish
font-family: 'Dancing Script', cursive;		Stylish
font-family: 'EB Garamond', serif;			
font-family: 'Great Vibes', cursive;
font-family: 'Grenze Gotisch', cursive;		Roman Like
font-family: 'Itim', cursive;				random
font-family: 'Lato', sans-serif;			italic
font-family: 'Lobster Two', cursive;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sofia', cursive;
font-family: 'Syne Mono', monospace;
font-family: 'Varela Round', sans-serif;
*/
::selection{
    background: #ddd;
    color:rgb(11, 136, 252);
}
.hidden{
    visibility: hidden;
    height: 0;
}

body{
    font-family: 'Lato', sans-serif !important;
    font-size: 19px !important;
    
}
.carousel-caption{
    color: rgb(255, 255, 255) !important;
    position: relative;
    top: 50%;
    
    transform: translateY(-50%);
    
}
.carousel-caption h1{
    text-shadow: 8px 10px 20px #333 !important;
}
.navbar ul li{
    text-align: center;
}
.navbar ul li:hover{
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
    transition: .6s ease;
}


.navbar-brand h2{
    font-family: 'Grenze Gotisch', cursive;
    padding: 8px ;
    border: 4px solid #fff;
    border-radius: 10px !important;
}
.navbar-nav a{
    display:inline-block;
   font-family: 'Courgette', cursive; 

}
.navbar-nav a:hover{
   
    color: #fff !important;
   
}

.nav-item{
    margin-right: 15px;
    font-size: 20px !important;
}
.about{
    padding: 50px;
}
.about{
  
    background-attachment: fixed;
    
}
#about-us h2{
    text-shadow: 2px 3px 5px rgb(106, 164, 240);
    color: rgb(53, 53, 53);
}

.progress{
    border-radius: 16px !important;
    color: red !important;
}
.progress-bar{
    border-radius: 16px !important;
    
}
.lead-1{
    margin-bottom: 0;
    margin-top: 5px;
    text-align: left;
   
}
.carousel-inner img{
    background-attachment: fixed;
}

.display-2, .display4{
    text-shadow: 2px 2px 10px rgb(85, 85, 85);
}

#services{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/bussiness/buss\ \(140\).jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#services h1{
    text-shadow: 2px 2px 8px rgb(59, 93, 243) !important;
}

#services h1::after{
    content: '';
    background: #fff;
    display: block;
    height: 3px;
    width: 240px;
    margin: 10px auto 5px;

}
.icon{
    margin-top: 2.5rem;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;

}
#services .col-md-3:hover{
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    transition: 0.7s ease;
    border-radius: 16px;
}
#services .col-md-3{
    margin: 20px 0;
    padding-bottom: 10px;

}


#team h2{
    text-align: center !important;
    margin:1.5rem;
    text-decoration: underline;
   
   
}
#team h1{
    text-shadow: 2px 3px 5px rgb(81, 165, 235);
    color: #333;
    text-decoration: none !important;
}


.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.img-box img{
    filter: grayscale(0);
}
.img-box img:hover{
    filter: grayscale(1);
    cursor: pointer;
}
#team .fa{
    color: #007bff !important;
    background: #fff;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px;

}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    
}

.img-box ul li{
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box li{
    transition: 0.5s ease;
}
#team h1{
    margin: 20px;
    text-decoration: underline;
}
#team h2{
    color: rgb(40, 90, 226);
}


#promo{
    font-size: 40px ;
    font-family: 'Dancing Script', cursive;	
    color: #fff;
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/img/img\ \(5\).jpg);
   background-position: center;
   background-size: cover;
   padding: 100px;
   background-attachment: fixed;
}


#price .card-title{
    background-color: rgb(35, 86, 236);
    
    color: #fff;
    padding: 25px;
}
#price .card-title h2{
font-family: 'Courgette', cursive; 
}
.card-body{
    padding: 0 !important;
    padding-bottom: 10px !important;
}
.card{
    margin: 20px 0;
    box-shadow: 2px 5px 10px #76b6fa;
   
}

.card-text ul{
    list-style: none;
    text-align: left;
    line-height: 3.2;
}
.card:hover{
    transform: translateY(-15px);
    transition: .7s ease;
}


.fa-check-circle{
    color: green;
}
.fa-times-circle{
    color: red;
}
.navbar .navbar-toggler{
    border: 2px solid #fff !important;
}
.btn:hover{
    transform: translateY(-3px);
    transition: .8s ease;
}


.card-01 img{
    margin: 20px;
    width: 220px;
    height: 220px;
    align-self: center;
    border-radius: 50%;
    border: 6px solid rgb(92, 153, 233);
    
    
}
.card-01{
    border-radius: 16px !important;
    background-color: rgb(248, 248, 248) !important;
    box-shadow: 2px 3px 10px rgb(161, 160, 160) !important;
}




#contact{
    background-color: rgb(247, 245, 245);
}

.contact-info{
    text-align: center;
    line-height: 2.5;

}


.light-1000{
    background-color: #000;
    border: 1px solid #000;
}



.follow img{
    margin: 0 10px;
}
#contact{
    padding-bottom: 1rem;
}

#footer{
    background: #333;
    color: #fff;
    font-size: 13px;
    font-style: italic;
}


#fixed a{
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 8px;
    border: 2px solid rgb(41, 93, 236);
    border-radius: 50%;
    background: #fff !important;
}

#fixed a:hover{
    filter: grayscale(1);
}



/* Media Queries */

@media(max-width:600px){
    .carousel-caption h1{
        font-size: 2.5rem;
        
    }
    .carousel-caption{
        top: 39%;
        transform: translateY(-50%);
    }
}












    
